*{
    margin:0;
    padding:0;
}
.container{
    margin: 50px auto;
    height:50vh;
    width:50vw;
    border: 3px solid black;
    display: grid;
    /* grid-template-columns: 200px 100px 300px;   
    grid-template-columns: minmax(50px, 1fr) 1fr 60px; */
    grid-template-columns: repeat(3,1fr);
    /* grid-template-rows: 50px 75px 100px;
   grid-template-rows: min-content 1fr min-content; */
   grid-template-rows: repeat(3, 1fr);
   /* row-gap: 30px;
   column-gap: 40px; */
   /* gap:30px 40px; */
  /* justify-items: start; */
  /* justify-items: center; */
  /* justify-items: end; */
  /* justify-items: stretch; */
  /* grid-template-columns: repeat(3,100px); */
  /* justify-content: center;
  justify-content: end;
  justify-content: space-around;
  justify-content: space-evenly; */
  /* justify-content: center;
  justify-content: start;
  justify-content: end;
  justify-content: space-evenly;
  justify-content: space-between;
  justify-content: space-around;
  justify-content: stretch; */
  /* grid-template-rows: repeat(3,50px); */
  /* grid-template-columns: repeat(3,50px); */
  /* align-content: center;
  align-content: start;
  align-content: end;
  align-content: space-evenly;
  align-content: space-between;
  align-content: space-around; */
  /* place-content: center center; */
   
}


.item{
    border:1px solid rgb(40, 224, 33);
}
.item-1{
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 1;
    grid-row-end: span 2;
}
