@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*******************CSS Reset**************************/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0px auto;
  /* border:2px solid red;
    height:80vh; */
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

/***********************Header and Navbar Section*********************/

header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #151515;
}
nav {
  width: 85%;
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  padding: 25px 15px;
}

.logo-left-side {
  width: 8rem;
  cursor: pointer;
}
nav > ul {
  font-size: 0.9rem;
  color: #d1cfcf;
  display: flex;
  list-style-type: none;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.list-items {
  cursor: pointer;
}

.right-side-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 0.9rem;
  color: #d1cfcf;
  position: relative;
  z-index: 2;
}

.right-side-item > li {
  list-style-type: none;
  cursor: pointer;
}

#eng::after {
  content: "";
  position: absolute;
  left: 36px;
  top: 9px;
  height: 0;
  width: 0;
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: none;
}

#contact::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 62px;
  background-image: url("./Assets/Icons/btn-pink-bg.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 20px;
  width: 60px;
  z-index: -1;
  opacity: 0.8;
}
