@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&display=swap");

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5em;
}

.card {
  margin-top: 30px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  width: 300px;
  height: 450px;
  overflow: hidden;
}

.card-header {
  width: 300px;
  height: 240px;
  display: flex;
  justify-content: center;
  background-color: #d8d8d8;
  padding: 2em 2em;
}

.card-header img {
  width: 100%;
  border-radius: 10px;
  object-fit: fill;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  gap: 0.3em;
}

.type {
  padding: 1em 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

#pokemonName {
  font-size: 1.6rem;
  text-align: center;
  margin: 0 auto;
  color: #020202f1;
  font-family: "Baloo 2", cursive;
}

#pokeId {
  font-size: 2.3rem;
  text-align: center;
  margin: 0 auto;
  color: rgba(3, 3, 3, 0.747);
  font-family: "Baloo 2", cursive;
}

#pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.displayError {
  color: #cc3737;
  font-size: 1.9rem;
}

.container > .animation {
  transition: all 350ms ease-in-out;
  animation: animate 350ms ease-in-out;
}

@keyframes animate {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animation2 {
  transition: all 3s ease-in-out;
  animation: animate2 3s ease-in-out;
}

@keyframes animate2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.evolution {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.evolution > img {
  width: 300px;
  object-fit: fill;
  margin-top: 5rem;
}
.evolutionInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.evolutionInfo > h3 {
  font-size: 2.3rem;
  text-align: center;
  color: rgba(3, 3, 3, 0.747);
  font-family: "Baloo 2", cursive;
}
.container001 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.arrow {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  transform: scale(0.3);
  animation: move-arrow 3s ease-out infinite;
}
.arrow:first-child {
  animation: move-arrow 3s ease-out 1s infinite;
}
.arrow:nth-child(2) {
  animation: move-arrow 3s ease-out 2s infinite;
}
.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}
.arrow:before {
  left: 0;
  transform: skewY(30deg);
}
.arrow:after {
  right: 0;
  width: 50%;
  transform: skewY(-30deg);
}
@keyframes move-arrow {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    transform: translateY(4.8rem) scale(0.5);
  }
}
#pokemonChain {
  text-align: center;
  display: none;
  font-size: 3rem;
  color: rgb(36, 34, 33);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 500px) {
  #pokemonChain {
    font-size: 1.9rem;
  }
}
