/******************************CSS RESET****************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:2px solid red; */
}

/****************************Utility Classes**************************/
.btn {
  border: none;
  font-family: "Manrope", sans-serif;
  border-radius: 30px;
  cursor: pointer;
}

body {
  margin: 0 auto;
  width: 100vw;
  max-width: 1440px;
  /* border: 2px solid red; */
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/*********************************Navbar***********************************/
header {
  width: 100%;
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111010;
  padding: 2rem 0.5rem;
  position: relative;
}

#hamburger-btn {
  color: white;
  display: none;
}

#cross-btn {
  color: white;
  display: none;
}

nav {
  width: 80%;
  /* border: 1px solid pink; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  position: relative;
}

.logo {
  cursor: pointer;
  width: 8rem;
}

.list-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
  color: #969292;
}

.list-items-container > li {
  cursor: pointer;
}

.list-items-container > li:hover {
  color: #ffffff;
}

.login-btn {
  padding: 0.8rem 2.1rem;
  font-size: 1rem;
  color: white;
  background-color: #0c8bfd;
}
.login-btn:hover {
  color: #111010;
  background-color: #ffffff;
}

/*********************************Hero Section********************************/
.hero {
  width: 100%;
  background-color: #111010;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  color: #ffffff;
  padding: 3rem 8rem;
  overflow-x: hidden;
  gap: 2rem;
}
.hero-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid white; */
  width: 50%;
  gap: 2rem;
  /* border: 1px solid red; */
}

.hero-left-section > h1 {
  /* border: 1px solid red; */
  font-size: 3.3rem;
}

.hero-left-section > h1 > em {
  color: #0c8bfd;
}
.hero-left-section > p {
  color: #969292;
  font-size: 1.1rem;
  padding-right: 3rem;
  /* border: 1px solid green; */
}

.hero-btn-section {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  /* border: 1px solid yellow; */
}

.hero-btn-section > .btn {
  margin: 1.4rem 0;
  padding: 1rem 1.8rem;
  font-size: 0.9rem;
  color: white;
}
.get-started-btn {
  background-color: #0c8bfd;
}
.get-started-btn:hover {
  outline: 1px solid #ffffff;
  background-color: #111010;
  color: #ffffff;
}
.start-free-btn {
  outline: 1px solid #ffffff;
  background-color: #111010;
  color: #ffffff;
}
.start-free-btn:hover {
  outline: none;
  background-color: #0c8bfd;
}

.hero-right-section {
  width: 50%;
  /* border: 1px solid pink; */
}
.group-img {
  width: 90%;
}

/********************************Logo Section******************************/
.logo-section{
    background-color: #1d1c1c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:3rem 5rem;
    flex-wrap: wrap;
    gap:5rem;
}








/****************************Responsive Behaviour*****************************/
@media screen and (max-width: 1150px) {
  .hero {
    padding: 2rem;
  }
}

@media screen and (max-width: 1075px) {
  nav {
    width: 100%;
    padding-left: 2rem;
  }
}
@media screen and (max-width: 800px) {
  nav {
    width: 100%;
    flex-direction: column;
    gap: 3rem;
  }
  .hero {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .hero-left-section {
    width: 100%;
    /* border: 1px solid pink; */
    padding: 0;
    justify-content: center;
  }
  .hero-left-section > h1 {
    font-size: 2.5rem;
    padding: 0;
    text-align: center;
  }
  .hero-left-section > p {
    padding: 0;
    text-align: center;
  }
  .hero-btn-section {
    justify-content: center;
  }
  .hero-right-section {
    width: 60%;
  }
}
@media screen and (max-width: 518px) {
  .list-items-container {
    flex-direction: column;
  }
  #hamburger-btn {
    display: inline;
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
  }
  #cross-btn {
    display: inline;
    position: absolute;
    top: -1.7rem;
    right: 0.3rem;
    font-size: 2.5rem;
  }

  nav {
    transform: translateX(-110%);
    transition: all 0.2s;
    position: absolute;
  }

  .hero {
    gap: 2rem;
  }
  .hero-left-section {
    gap: 2rem;
  }
  .hero-left-section > h1 {
    text-align: center;
  }
  .hero-left-section > p {
    font-size: 0.9rem;
    text-align: center;
  }
  .hero-btn-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* border: 1px solid green; */
    padding: 0;
  }
  .hero-btn-section > .btn {
    margin: 0;
  }
}

@media screen and (max-width: 420px) {
  .hero-left-section > h1 {
    font-size: 1.8rem;
  }
  .hero-left-section > p {
    font-size: 0.8rem;
  }
}
