/**********************************CSS Reset******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid red;*/
}

/************************Declaring CSS Variables*************************/

:root {
  --color-black-001: #0f0f10;
  --color-black-002: #1e1e21;
  --color-white-001: #f2f2f3;
  --color-white-002: #505153;
  --color-crimson-001: #ff0f32;
}

/*****************************Utility Classes**********************************/
.beats_logo {
  width: 25px;
}
.btn_primary {
  all: unset;
  padding: 1em 3.2em;
  background-color: var(--color-black-002);
  font-size: 0.9rem;
  font-family: sans-serif;
  border-radius: 7px;
}
.heading_primary {
  font-size: 2rem;
}
.heading_secondary {
  font-size: 1rem;
}
.para {
  font-size: 0.9rem;
  font-family: sans-serif;
  font-weight: 700;
  color: #888888;
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}
.icons {
  width: 18px;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Manrope", sans-serif;
  color: var(--color-white-001);
  overflow-x: hidden;
}

/**************************************Container****************************************/
.container {
  background-color: var(--color-black-001);
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
}
/*************************************Header*********************************************/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 4em 2em 18em;
  flex-wrap: wrap;
  gap: 5em;
}

/***Hamburger_icon***/

.hamburger_icon {
  all: unset;
  cursor: pointer;
  display: none;
  z-index: 2;
  position: absolute;
  left: 30px;
  top: 20px;
}

.hamburger {
  position: relative;
  display: block;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: 25px;
  height: 4px;
  background-color: var(--color-white-001);
  transition: transform 350ms ease-in-out, opacity 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.hamburger::before {
  top: -8px;
}
.hamburger::after {
  top: 8px;
}
.nav_open > .hamburger {
  transform: rotate(45deg);
}
.nav_open > .hamburger::before {
  opacity: 0;
}

.nav_open > .hamburger::after {
  transform: rotate(90deg) translateX(-8px);
}

/*Navbar*/
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5em;
  flex-wrap: wrap;
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 2em;
  flex-wrap: wrap;
}

.list_items > a {
  text-decoration: none;
  color: var(--color-white-001);
  font-size: 0.9rem;
}

.btn_primary > a {
  text-decoration: none;
  color: var(--color-white-001);
}

/*************************************Hero****************************************/
.hero {
  /* border: 2px solid red; */
  padding-right: 10em;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.8em;
}

.on_ear_logo {
  text-align: center;
  /* border: 2px solid red; */
}
.hero_text_container > .on_ear_logo > img {
  width: 80%;
  min-width: 100px;
}
.hero > .hero_text_container > .hero_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.7rem;
}
.hero > .hero_text_container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.hero_text > .btn_primary {
  padding: 1em 1.3em;

  /* border: 2px solid yellow; */
}
.shooping__bag_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}
.shooping__bag_cart > .heading_primary {
  font-size: 1rem;
  font-weight: 700;
}
.shooping__bag_cart > .para {
  font-size: 0.8rem;
}
.main_image {
  /* border: 2px solid red; */
  width: 25%;
  position: absolute;
  left: 30%;
  top: -8rem;
  right: 0;
  bottom: 0;
}
.main_image > img {
  width: 80%;
  min-width: 70px;
}
/***********************************Media Queries*********************************/
@media screen and (max-width: 1150px) {
  .hero {
    align-self: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2em 1.5em;
  }
  .main_image {
    position: static;
  }
}

@media screen and (max-width: 1000px) {
  header {
    justify-content: center;
    padding: 2em;
    gap: 3em;
  }
  nav {
    gap: 2em;
  }
}

@media screen and (max-width: 700px) {
  .hero_text_container > .heading_primary {
    font-size: 1.3rem;
  }
  .hero_text > .para {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 500px) {
  .hamburger_icon {
    display: inline;
  }
  nav {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 5em;
    /* border: 2px solid red; */
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 50%;
    max-width: 250px;
    background-color: var(--color-crimson-001);
    transform: translateX(-100%);
    transition: transform 350ms ease-in-out;
  }
  nav > ul {
    flex-direction: column;
  }
  .nav_show {
    transform: translateX(0%);
  }
  .shooping__bag_cart > .heading_primary {
    font-size: 0.8rem;
    font-weight: 700;
  }
  .shooping__bag_cart > .para {
    font-size: 0.6rem;
  }
  .shooping__bag_cart {
    justify-content: flex-start;

    gap: 1em;
  }
}
