/**********************************CSS Reset******************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************Declaring CSS Variables*************************/

:root {
  --color-black-001: #0f0f10;
  --color-black-002: #1e1e21;
  --color-white-001: #f2f2f3;
  --color-white-002: #505153;
  --color-crimson-001: #ff0f32;
}

/*****************************Utility Classes**********************************/

.beats_logo {
  width: 80%;
}

.btn-primary {
  all: unset;
  padding: 1em 3.2em;
  background-color: var(--color-black-002);
  border-radius: 10px;
  font-size: 0.9rem;
}

.btn-primary > a {
  text-decoration: none;
  color: var(--color-white-001);
  font-family: sans-serif;
}

body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  /* border: 2px solid red; */
  font-family: "Manrope", sans-serif;
  background-color: var(--color-black-001);

  display: flex;
  flex-direction: column;
}
#container {
  background-color: var(--color-black-001);
}

/******************************Main*****************************************/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 2em 5em 2em 2em;

  font-size: 0.9rem;
}
.toggle {
  all: unset;
  cursor: pointer;
}
header {
  width: 90%;
}
.hamburger {
  display: block;
  position: relative;
  display: none;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  width: 2rem;
  height: 3px;
  background-color: var(--color-white-001);
  transition: transform 350ms ease-in-out, opacity 250ms ease-in-out;
  z-index: 3;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.hamburger::before {
  top: -8px;
}
.hamburger::after {
  top: 8px;
}

.nav_open > .hamburger {
  transform: rotate(45deg);
}
.nav_open > .hamburger::before {
  opacity: 0;
}
.nav_open > .hamburger::after {
  transform: rotate(90deg) translateX(-7px);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3em;
  padding: 2em 3em;
  flex-wrap: wrap;
  position: relative;
}

.nav_right_side {
  display: flex;
  gap: 5em;
  flex-wrap: wrap;
  justify-content: center;
}
.nav_right_side > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
  list-style: none;
  flex-wrap: wrap;
}
.list_items {
  text-decoration: none;
  color: var(--color-white-001);
}

/*********************************Media Queries **************************************/
@media screen and (max-width: 900px) {
  header {
    width: 100%;
  }
  nav,
  .nav_right_side {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .hamburger {
    display: block;
  }
  .nav_right_side > ul {
    flex-direction: column;
  }

  .nav_right_side {
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 60%;
    min-width: 200px;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    align-items: center;
    background-color: var(--color-crimson-001);
    transition: all 350ms ease-in-out;
    gap: 4em;
    justify-content: center;
    align-items: center;
  }

  nav > .navbar_show {
    left: -10%;
  }
  nav > .navbar_hide {
    left: -100%;
  }
}
