*{
    margin: 0;
    padding:0;
    
}
.container{
    height:100vh;
    width:100vw;
    background-color: #2e2924;
    display: grid;
    /* grid-template-areas: 
    "header header header header"
    "section section section section"
    "aside-1 aside-1 aside-1 aside-2"
    "footer footer footer footer"; */
    row-gap:30px;
    text-align: center;
    
}


.item{
    color:white;
    border: 2px solid green;
}

/*
.item-1{
    grid-area: header;
    background-color: blueviolet;

}
.item-2{
    grid-area: section;
    background-color: rgb(26, 168, 13);
}
.item-3{
    grid-area: aside-1;
    background-color: rgb(143, 67, 17);
}
.item-4{
    grid-area: aside-2;
    background-color: rgb(94, 175, 18);
}
.item-5{
    grid-area: footer;
    background-color: rgb(32, 12, 85);
} */