/*css reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-white-001: #fff;
}
body {
  width: 100vw;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3em;
}
header {
  width: 100%;
  padding: 1em 2em;
  background-color: var(--color-white-001);
}
#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circle {
  height: 35px;
  display: flex;
  mix-blend-mode: darken;
  margin-left: 10px;
  margin-right: 10px;
}

#pokemonLogo {
  width: 40%;
  min-width: 150px;
  display: block;
  margin: 0 auto;
}

.searchFieldContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 35%;
}

#searchInput {
  padding: 1em 1.5em;
  border: none;
  outline: none;
  outline: 1px solid #6b7280;
  border-radius: 27px;
  width: 100%;
  min-width: 250px;
}

#searchInput :focus {
  outline: none;
}

#searchInput::placeholder {
  font-size: 1.05rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

@media screen and (max-width: 768px) {
  .btn {
    padding: 0.75rem 1.5rem;
  }
  #navbar {
    justify-content: center;
    align-items: center;
  }
  .searchFieldContainer {
    flex-wrap: wrap;
  }
}
